.body {
  /* background-color: seagreen; */
}
.container {
  display: flex;
  justify-content: center;
}
.terminal {
  /* font-family: "OCR A", monospace; */
  font-family: "JetBrains Mono", monospace;
  color: #444444;
  margin: 1em 0 0 0;
  padding: 0 2em 1em 2em;
  width: 800px;
  /* text-align: justify; */
}

p.noindent {
  margin: 1em 0 1em 0;
}

p.indent {
  text-indent: 1.2em;
  margin: 0;
}

.tbl th, td {
  padding: 0 1em 0 1em;
}

a {
  color: #008000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.blink {
  animation: blinker 1.5s step-end infinite;
}
@keyframes blinker {
  from, to {
    opacity: 100;
  }
  50% {
    opacity: 0;
  }
}

@font-face {
  font-family: "OCR A";
  src: url("/fonts/OCRAEXT.TTF") format('truetype');
}

@font-face {
  font-style: normal;
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono"), local("JetBrains-Mono"),
       url("/fonts/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2") format("woff2"),
       url("/fonts/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff") format("woff"),
       url("/fonts/JetBrainsMono/web/eot/JetBrainsMono-Regular.eot") format("embedded-opentype"),
       url("/fonts/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf") format("truetype");
};
